In [1]:
#Script for cleaning draft.csv file inside reosurces folder
#Developed by Cuitlahuac Daniel Maldonado Ruiz

#Importing dependencies
import os
import pandas as pd
import numpy as np

In [2]:
#Files path
inputFile = os.path.join("..","..", "Resources", "draft.csv")
outputFile = os.path.join("..", "Clean_Data", "draft.csv")

In [3]:
#Reading csv file into dataframe
draft_df = pd.read_csv(inputFile)

#Narrowing dataframe for players draft >= 2010
# draft_df = draft_df.loc[draft_df["draft"] >= 2010]
# draft_df

In [4]:
#Creating a new dataframe only with needed columns
draft_df = draft_df[["playerId", "teamId", "draftTradeValue"]]
draft_df

#Cleaning blank and NaN data
narrowed_df = draft_df.replace(r'^\s*$', np.NaN, regex=True)
narrowed_df.dropna(how="any", inplace=True)
narrowed_df

       playerId  teamId  draftTradeValue
0      19770001    4900          3000.00
1      19770002    1200          2600.00
2      19770003     920          2200.00
3      19770004    3430          1800.00
4      19770005    3410          1700.00
...         ...     ...              ...
12135  20190250    3000             0.96
12136  20190251    2520             0.92
12137  20190252    3200             0.88
12138  20190253    5110             0.84
12139  20190254    3800             0.80

[12140 rows x 3 columns]

In [5]:
#Wrtiting new csv file with cleaned and narrowed data
narrowed_df.to_csv(outputFile, index=False, header=True)