In [1]:
#Dependencies
import pandas as pd

In [2]:
# File to Load 
file_to_load = "../Resources/sacks.csv"

# Read Purchasing File and store into Pandas data frame
sacks_data = pd.read_csv(file_to_load)
sacks_data

,sackId,playId,teamId,playerId,sackPosition,sackType,sackYards,sackEnd,sackNull
0,10500001,10000108,920,20100049,S,1.0,-4,in bounds,1
1,10500002,10000138,920,20140088,DE,1.0,-5,in bounds,0
2,10500003,10000209,3800,20130103,LB,1.0,-2,in bounds,0
3,10500004,10000246,3800,20130103,LB,1.0,-7,in bounds,0
4,10500005,10000291,3800,20060091,DE,1.0,-5,in bounds,0
...,...,...,...,...,...,...,...,...,...
12802,15375538,15082634,2520,20130049,DT,0.5,-9,in bounds,0
12803,15375539,15083245,2250,20190007,DE,0.5,-2,in bounds,0
12804,15375540,15083486,3800,20140108,LB,0.5,-8,in bounds,0
12805,15375541,15083637,3000,20160160,LB,0.5,-6,in bounds,0
12806,15375542,15083967,3410,20150006,DE,0.5,-10,in bounds,0

In [3]:
#Cleaning for empty values
cleaned_data = sacks_data.dropna(axis=0)

#Remove useless columns
narrow_data = cleaned_data.drop(columns=['sackId','teamId','sackEnd'])

#Filter for specific value
narrow_data = narrow_data[narrow_data['sackType']==1]

#Filter for specific value
narrow_data = narrow_data[narrow_data['sackNull']==0]

#Re-format column
narrow_data = narrow_data.astype({"sackType":"int64"})

narrow_data

         playId  playerId sackPosition  sackType  sackYards  sackNull
1      10000138  20140088           DE         1         -5         0
2      10000209  20130103           LB         1         -2         0
3      10000246  20130103           LB         1         -7         0
4      10000291  20060091           DE         1         -5         0
5      10000301  20090092           CB         1         -5         0
...         ...       ...          ...       ...        ...       ...
12627  15084330  20100015           LB         1          0         0
12628  15084340  20100015           LB         1         -7         0
12629  15084371  20150137           DT         1         -8         0
12630  15084415  20140525           LB         1         -1         0
12631  15084418  20140525           LB         1         -7         0

[10833 rows x 6 columns]

In [4]:
narrow_data.to_csv("../Clean_Data/sacks.csv", index=False, header=True)